// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #eee;
$content-bg-color: white;
$primary-color: #7e6241;
$page-width: 960px;

@mixin float-contain {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

body {
  background: $bg-color;
  font-family: sans-serif;
  margin: 0;
}

header {
  color: white;

  h1 {
    background: image-url('header-bg.jpg') center no-repeat black;
    background-size: cover;
    font-size: 1.5rem;
    height: 16rem;
    line-height: 16rem;
    margin: 0;
    text-align: center;
  }

  nav {
    @include float-contain;

    background: $primary-color;
    line-height: 3em;
    margin: auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;

    + li {
      border-top: thin solid $content-bg-color;
    }
  }

  a {
    color: inherit;
    display: block;
    padding: 0 1em;
    text-decoration: inherit;
  }

  form {
    border-top: thin solid $content-bg-color;
    padding: 0 1rem;
  }
}

main,
footer {
  box-sizing: border-box;
  margin: auto;
  max-width: $page-width;
  padding: 2rem;
}

main {
  background: $content-bg-color;
}

footer {
  background: $primary-color;
  color: white;
}

@media (min-width: $page-width) {
  header h1 {
    font-size: 3rem;
  }

  nav {
    line-height: 2em;
    width: $page-width;

    li {
      float: left;

      + li {
        border-left: thin solid $content-bg-color;
        border-top: 0;
      }
    }

    a {
      padding: 0 2em;
    }

    form {
      border-left: thin solid $content-bg-color;
      border-top: 0;
      float: left;
      padding: 0 2rem;
    }
  }
}
