<h1>Listing wines</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Long description</th>
  </tr>
 
  <% @wines.each do |wine| %>
    <tr>
      <td><%= wine.title %></td>
      <td><%= wine.longdesc %></td>
    </tr>
  <% end %>
</table>